// fonts
$primary-font: 'Muli', sans-serif;
$futura: 'Futura', sans-serif;

$nav-height: 60px;
$green: #35af5c;
$nav-color: $green;

// social colors
$facebook-color: #3b5998;
$twitter-color: #00aced;

// colors
$light-gray: #e7e5e6;
$blue: #394da1;
$link-color: $blue;
$input-bg: $light-gray;
$orange: #f06f73;
$light-green: #8cca89;
$blue: #3eb4e2;

$hero-banner-height: 575px;
