@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Bold.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Bold.woff') format('woff'), url('../fonts/futura/Futura Std Bold.ttf') format('truetype'), url('../fonts/futura/Futura Std Bold.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Bold Oblique.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Bold Oblique.woff') format('woff'), url('../fonts/futura/Futura Std Bold Oblique.ttf') format('truetype'), url('../fonts/futura/Futura Std Bold Oblique.svg') format('svg');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Book.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Book.woff') format('woff'), url('../fonts/futura/Futura Std Book.ttf') format('truetype'), url('../fonts/futura/Futura Std Book.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Book Oblique.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Book Oblique.woff') format('woff'), url('../fonts/futura/Futura Std Book Oblique.ttf') format('truetype'), url('../fonts/futura/Futura Std Book Oblique.svg') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Extra Bold.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Extra Bold.woff') format('woff'), url('../fonts/futura/Futura Std Extra Bold.ttf') format('truetype'), url('../fonts/futura/Futura Std Extra Bold.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Extra Bold Oblique.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Extra Bold Oblique.woff') format('woff'), url('../fonts/futura/Futura Std Extra Bold Oblique.ttf') format('truetype'), url('../fonts/futura/Futura Std Extra Bold Oblique.svg') format('svg');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Heavy.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Heavy.woff') format('woff'), url('../fonts/futura/Futura Std Heavy.ttf') format('truetype'), url('../fonts/futura/Futura Std Heavy.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Heavy Oblique.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Heavy Oblique.woff') format('woff'), url('../fonts/futura/Futura Std Heavy Oblique.ttf') format('truetype'), url('../fonts/futura/Futura Std Heavy Oblique.svg') format('svg');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Light.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Light.woff') format('woff'), url('../fonts/futura/Futura Std Light.ttf') format('truetype'), url('../fonts/futura/Futura Std Light.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Light Oblique.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Light Oblique.woff') format('woff'), url('../fonts/futura/Futura Std Light Oblique.ttf') format('truetype'), url('../fonts/futura/Futura Std Light Oblique.svg') format('svg');
	font-weight: 100;
	font-style: italic;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Medium.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Medium.woff') format('woff'), url('../fonts/futura/Futura Std Medium.ttf') format('truetype'), url('../fonts/futura/Futura Std Medium.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Futura';
	src: url('../fonts/futura/Futura Std Medium Oblique.eot');
	src: local('☺'), url('../fonts/futura/Futura Std Medium Oblique.woff') format('woff'), url('../fonts/futura/Futura Std Medium Oblique.ttf') format('truetype'), url('../fonts/futura/Futura Std Medium Oblique.svg') format('svg');
	font-weight: 400;
	font-style: italic;
}
