<main class="main-content">
  <!-- hero-section starts -->
  <section class="hero-section congoSection">
    <div class="congoPanel">
      <h1 class="panelTitle text-center">Congratulations</h1>
      <h2 class="subTitle text-center">You've just earned <span>50 paravey points</span> for signing up !</h2>
      <div class="coupenWrap">
        <div class="row">
          <div class="col-md-4 col-sm-6">
            <div class="coupen" style="background:#fbb041">
              <div class="earn">
                <span class="text">Earn</span>
                <span class="points">50</span>
                <span class="ico-paraveyPoints"></span>
              </div>
              <div class="task">
                <a href="javascript:void(0)">Add the paravey button</a>
              </div>
              <!-- <a href="javascript:void(0)"><img class="img-responsive" src="assets/images/earn1.png" alt=""></a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="coupen" style="background:#8ccb8a">
              <div class="earn">
                <span class="text">Earn</span>
                <span class="points">30</span>
                <span class="ico-paraveyPoints"></span>
              </div>
              <div class="task">
                <a href="javascript:void(0)">Default Search engine</a>
              </div>
              <!-- <a href="javascript:void(0)"><img class="img-responsive" src="assets/images/earn2.png" alt=""></a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="coupen" style="background:#f07073">
              <div class="earn">
                <span class="text">Earn</span>
                <span class="points">50</span>
                <span class="ico-paraveyPoints"></span>
              </div>
              <div class="task">
                <a href="javascript:void(0)">refer a friend</a>
              </div>
              <!-- <a href="javascript:void(0)"><img class="img-responsive" src="assets/images/earn3.png" alt=""></a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="coupen" style="background:#9b479b">
              <div class="earn">
                <span class="text">Earn</span>
                <span class="points">10</span>
                <span class="ico-paraveyPoints"></span>
              </div>
              <div class="task">
                <a href="javascript:void(0)">How did you hear about us ?</a>
              </div>
              <!-- <a href="javascript:void(0)"><img class="img-responsive" src="assets/images/earn4.png" alt=""></a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="coupen" style="background:#57b3e5">
              <div class="earn">
                <span class="text">Earn</span>
                <span class="points">10</span>
                <span class="ico-paraveyPoints"></span>
              </div>
              <div class="task">
                <a href="javascript:void(0)">discover surveys</a>
              </div>
              <!-- <a href="javascript:void(0)"><img class="img-responsive" src="assets/images/earn5.png" alt=""></a> -->
            </div>
          </div>
          <div class="col-md-4 col-sm-6">
            <div class="coupen" style="background:#ee4a9a">
              <div class="earn">
                <span class="text">Earn</span>
                <span class="points">50</span>
                <span class="ico-paraveyPoints"></span>
              </div>
              <div class="task">
                <a href="javascript:void(0)">start fundraiser</a>
              </div>
              <!-- <a href="javascript:void(0)"><img class="img-responsive" src="assets/images/earn6.png" alt=""></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
  <!-- hero-section ends -->

</main>

<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-2 fLeft languageSelector">
        <div class="lang-select">
          <select class="form-control">
            <option value="En">English</option>
            <option value="Fr">Franch</option>
          </select>
        </div>
      </div>

      <div class="col-sm-10 fRight">
        <div class="row">
          <div class="col-sm-3 flinks">
            <h3 >Basics</h3>
            <ul>
              <li><a href="javascript:void(0)">Home</a></li>
              <li><a href="javascript:void(0)">About US</a></li>
              <li><a href="javascript:void(0)">Faq</a></li>
              <li><a href="javascript:void(0)">Newsletter</a></li>
            </ul>
          </div>
          <div class="col-sm-3 flinks">
            <h3 >rewards</h3>
            <ul>
              <li><a href="javascript:void(0)">shop & get cash back</a></li>
              <li><a href="javascript:void(0)">press inquiries</a></li>
              <li><a href="javascript:void(0)">answer survey</a></li>
              <li><a href="javascript:void(0)">free gift cards</a></li>
            </ul>
          </div>
          <div class="col-sm-3 flinks">
            <h3 >Support</h3>
            <ul>
              <li><a href="javascript:void(0)">Contact Us</a></li>
              <li><a href="javascript:void(0)">Advertise with Us</a></li>
              <li><a href="javascript:void(0)">Privacy Policy</a></li>
              <li><a href="javascript:void(0)">terms of use</a></li>
            </ul>
          </div>
          <div class="col-sm-3 flinks">
            <h3 >Connect</h3>
            <ul>
              <li><a href="javascript:void(0)">Facebook</a></li>
              <li><a href="javascript:void(0)">Twitter</a></li>
              <li><a href="javascript:void(0)">Instagram</a></li>
              <li><a href="javascript:void(0)">Youtube</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      &copy; 2017 PARAVEY LLC.
    </div>
  </div>
</footer>
