<!DOCTYPE html>
<html lang="en">
  <head>
      <!-- <base href="/" /> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Paravey</title>

    <!-- Bootstrap -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body ng-app="paraveyApp" ng-controller="MainCtrl as main" class="{{ currPage }}">
    <header class="main-header">
      <!-- header-top starts -->
      <div class="header-top">
        <div class="">
          <nav class="navbar navbar-default">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand logo" href="#/"><img src="assets/images/logo.png" alt="">
                </a>
              </div>
              <div id="navbar" class="navbar-collapse collapse">
                <!-- nav for registerpg -->
                <ul class="nav navbar-nav navbar-right" ng-if="!isRegistered">
                  <li ng-class="{ active:main.isActive('/')}"><a href="#/">Register</a></li>
                  <li ><a href="javascript:void(0)">login</a></li>
                  <li><a href="javascript:void(0)">benifits</a></li>
                </ul>
                <!-- nav for quiz -->
                <ul class="nav navbar-nav navbar-right quizNav" ng-if="isRegistered">
                  <li ng-class="{ active:main.isActive('/privacy')}"><a href="javascript:void(0)">Privacy Policy</a></li>
                  <li ><a href="javascript:void(0)">Terms of Service</a></li>
                </ul>
              </div>


              <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
          </nav>
        </div>
      </div>
      <!-- header-top starts -->
    </header>

    <div ng-view ></div>




    <!-- libs -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular-animate.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="app.js"></script>
    <!-- angular stuff -->
    <!-- controllers -->
    <script src="assets/js/main.js"></script>
    <script src="controller/MainCtrl.js"></script>
    <script src="controller/RegisterCtrl.js"></script>
    <script src="controller/QuizCtrl.js"></script>
    <script src="controller/CongoCtrl.js"></script>
  </body>
</html>
