.sec-heading{
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  &:after{
    content: '';
    display: inline-block;
    width: 100%;
    margin: auto;
    background: $light-green;
    height: 2px;
    @include v-center;
    z-index: -1;
    margin-left: 10px;
  }
}
