@import "buttons";
@import "headings";
@import "loader";

.errMsz{
  font-size: 12px;
  color: #ea292f;
  display: inline-block;
  white-space: nowrap;
  float: right;
  margin-top: 2px;
  }

.greenb{
  box-shadow: 0 0 0 1px green inset!important;
}
.redb{
  box-shadow: 0 0 0 1px red inset!important;
}

.errAjax{
  display: block;
  color: red;
  font-size: 12px;
  margin-left: 5px;
}
[class^='ico-']{
  // background: red;
  background-repeat: no-repeat;
  display: inline-block;

}
.ico-paraveyPoints{
  background-image: url(../images/points.png);
  width: 25px;
  height: 50px;
  background-size: 25px;
}
